@{
    ViewData["Title"] = "Deltagare";
}

<a asp-action="Create">Lägg till en ny deltagare</a>
<hr>


<table class="table table-bordered table-striped table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>E-post</th>
            <th>Mobilnummer</th>
            <th>Adressuppgifter</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

