@{
    ViewData["Title"] = "Hem";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till WestCoast Education</h1>
    <p>WestCoast Education är ett ledande utbildningsföretag i Göteborg. vi tillhandahåller tekniska utbildningar inom IT-området och har varit i utbildningsbranschen i 40 år. </p>
</div>
